* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  /* Navigation */
  
  .nav-container {
    position: absolute;
width: 1440px;
height: 70px;

background: #FDF1F1;

  }
  
  .wrapper {
    width: 1200px;
    margin: 0 auto;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
  }
  
  nav ul {
    display: flex;
  }
  
  nav .logo {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    color: #021718;
  }
  
  .nav-items li {
    list-style: none;
    margin-right: 100px;
  }
  
  .nav-items li:nth-last-of-type(1) {
    margin: 0;
  }
  
  .nav-items li a {
    color: #021718;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
  }
  
  /* Header */
  
  .header-container {
    background: #FF8F8F;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header h1 {
font-weight: 700;
font-size: 64px;
line-height: 77px;
color: #000000;
margin-bottom: 24px;
 }
  
  header p {
width: 370px;
font-size: 24px;
line-height: 29px;
color: #000000;
margin-bottom: 48px;
 }
  
  header a {
font-size: 24px;
color: #FDF1F1;
text-decoration: nonr;
background-color: #EF0E0E;
border-radius: 8px;
padding: 12px 48px;
 }
  
  /* Hero image */
  
  header .hero-image {
    position: relative;
 }
  
  header .hero-image img {
    position: relative;
    width: 400px;
    height: 350px;
    border-radius: 69px;
  }

  